@model IEnumerable<Chat.Models.Thread>

<nav class="text-lg font-semibold">
    <a href="/">
        <span class="sidebar-logo"></span>
    </a>

    <ul>
        @foreach (var thread in Model)
        {
            <li class="group @(Context.Request.Path.ToString() == $"/{thread.Slug}" ? "sidebar-item-active" : "sidebar-item")">
                <a class="sidebar-item-link" href="/@thread.Slug">
                    <span class="@thread.Icon mr-4"></span>
                    <span>@Html.DisplayFor(modelItem => thread.Title)</span>
                </a>
            </li>
        }
    </ul>

    <hr class="sidebar-divider" />

    <ul>
        <li class="group @(Context.Request.Path.ToString() == $"/messages" ? "sidebar-item-active" : "sidebar-item")">
            <a class="sidebar-item-link" href="/messages">
                <span class="sidebar-message mr-4"></span>
                <span>Сообщения</span>
            </a>
        </li>

        <li class="group @(Context.Request.Path.ToString() == $"/profile" ? "sidebar-item-active" : "sidebar-item")">
            <a class="sidebar-item-link" href="/profile">
                <span class="sidebar-profile mr-4"></span>
                <span>Профиль</span>
            </a>
        </li>

        <li class="group @(Context.Request.Path.ToString() == $"/settings" ? "sidebar-item-active" : "sidebar-item")">
            <a class="sidebar-item-link" href="/settings">
                <span class="sidebar-settings mr-4"></span>
                <span>Настройки</span>
            </a>
        </li>
    </ul>
</nav>
